<div class="row">
	<div class="col-xs-12">
		<p>Add new Servers or blueprints!</p>
    <form [formGroup]="form">
        <label>Server Name</label>
        <input type="text" class="form-control" formControlName="serverName">
        <label>Server Content</label>
        <input type="text" class="form-control" formControlName="serverContent">
        <br>
        <button  class="btn btn-primary" (click)="onAddServer()" style="margin-right: 2px" [disabled]="form.status !== 'Valid'">Add Server</button>
        <button class="btn btn-primary" (click)="onBlueprint()" [disabled]="form.status !== 'Valid'">Add Server Blueprint</button>
    </form>
	</div>
</div>